@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

html, body {
    overflow-x: hidden;
}

.goog-te-banner-frame.skiptranslate { display: none !important; }
body { top: 0px !important; position: static !important; }
.goog-text-highlight { background: none !important; box-shadow: none !important; }
#goog-gt-tt, .goog-te-balloon-frame { display: none !important; }
.goog-te-gadget { height: 0; overflow: hidden; }